<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>W.O.R.M. Library System</title>
  <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
</head>

<body>
  <nav>
    <div class="nav-brand">W.O.R.M. Library</div>
    <div class="nav-links" id="navLinks"></div>
  </nav>

  <div class="container" id="app">
    <div id="view"></div>
  </div>

  <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
</body>

</html>